.navbar {
  background-color: #333;
  color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  gap: 3rem;
}

.main-right-navs-div {
  align-self: end;
  align-items: end;
  float: right;
}

.right-navs {
  display: flex;
  justify-content: start;
  gap: 3rem;
}
